.body {
    width: 100%;
    background-color: black;
}

.logo {
    width: 100%;
}

.menu-superior {
    text-align: right;
}

.menu-superior li {
    display: inline;
    margin-right: 20px;
}

.producto {
    width: 3    00px;
}

#datos, #foto, #botones {
    border: 1px solid red;
    
}

.ancho-boton {
    width: 200px;
}

.carrusel-img{
    width: 100%;
   
}

.logo-glock{
    width: 100px;
}

.portafolio{
    background: #949fa365;
}

.contenedor{
    padding: 60px 0;
    width: 100%;
    /* max-width: 1400px; */
    margin: auto;
    overflow: hidden;
    padding-bottom: 140px;
}