.body {
    width: 100%;
    background-color: black;
}

.logo {
    width: 100%;
}

.menu-superior {
    text-align: right;
}

.menu-superior li {
    display: inline;
    margin-right: 20px;
}

.producto {
    width: 3    00px;
}

#datos, #foto, #botones {
    border: 1px solid red;
    
}

.ancho-boton {
    width: 200px;
}

.carrusel-img{
    width: 100%;
   
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.logo-glock{
    width: 100px;
}

.portafolio{
    background: #949fa365;
}

.contenedor{
    padding: 60px 0;
    width: 100%;
    /* max-width: 1400px; */
    margin: auto;
    overflow: hidden;
    padding-bottom: 140px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: rgb(146, 129, 129);
}
    
.socials a img{
    width: 50px;
    
}

.footer-bottom{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}