body {
  padding: 10px;
  background-color: black;
}

/* div {
    border: 1px solid blue;
} */

.logo {
  width: 100%;
}

.menu-superior {
  text-align: right;
}

.menu-superior li {
  display: inline;
  margin-right: 20px;
}

.producto {
  width: 100%;
}

#datos,
#foto,
#botones {
  border: 1px solid white;
}

.ancho-boton {
  width: 200px;
}

.carrusel-img{
    width: 100%;
   
}

.logo-glock{
    width: 100px;
}

.portafolio{
    background: #949fa365;
}

.header {
  text-align: center;
  line-height: 150%;
  font-size: 0.85em;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main {
  text-align: center;
  line-height: 150%;
  font-size: 0.85em;
}


.singupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  padding: 60px 0;
  width: 100%;
  /* max-width: 1400px; */
  margin: auto;
  overflow: hidden;
  padding-bottom: 140px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.socials a img {
  width: 50px;
}

.footer-bottom {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.user-image {
  max-width: 200px;
}

.logo-glock{
    width: 100px;
}
.carrusel-img{
    width: 100%;

}

*{
    font-family: 'PT Sans Caption', sans-serif;
}
.card-body-card{
    width: 100%;
    background: #949fa365;
}


.card-img-overlay{
    justify-content:center;
    display: block;
    margin-top: 80px;
    color:rgb(231, 231, 230);
}

.card-img-overlay h5{
    font-size: 5rem;
    color: rgb(0, 0, 0);

}

.card-img-overlay p{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);

}   

.body{
    width: 100%;
    background: #00000096;
}

.center-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titulo{
    text-align: center;
    color: rgba(233, 8, 8, 0.842);
    font-size: 3rem;
    padding-bottom: 50px;
}

.contenedor{
    padding: 60px 0;
    width: 100%;
    /* max-width: 1400px; */
    margin: auto;
    overflow: hidden;
    padding-bottom: 140px;
}

.portafolio{
    background: #949fa365;
}
/* background para el fondo de los div */

.galeria-port{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content{
    max-width: 600px;
    max-height: 15px;
    margin: 10px auto;
    line-height: 28px;
}

.imagen-port{
    width: 20%;
    /* height: 15%; */
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 30px;
    height: 250px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}



.hover-galeria img{
    width: 70px;
}
.hover-galeria p{
    color: #fff
}
.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
.card .card-header ul{
     justify-content: flex-start;
     display: flex;
    flex-wrap: wrap;

    
}
    
.card-header .logo img{
    height: 40px;
    width: 40px;
    display: flex;
} 

/* footer */

footer{
    background: #ffffff;
    height: auto;
    width: 100%;
    padding-top: 1px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 600px;
    max-height: 15px;
    margin: 10px auto;
    line-height: 28px; /*separacion entre lineas de texto*/
    /* font-size: 14px; */
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: rgb(146, 129, 129);
}
    
.socials a img{
    width: 50px;
    
}
.footer-bottom{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

/* footer end */


.user-image {
    max-width: 200px;
}

.card {
    margin:auto;
}


/* -------------boleta-----------*/

.bo-contenedor {
  display: flex;
  width: 100%;
}

.bo-titulo {
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 300%;
  padding-top: 1em;
}

.bo-estado-compra {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.bo-etapa-vendido,
.bo-etapa-despachado,
.bo-etapa-entregado {
  width: 33.33%;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bo-etapa-vendido.activo {
  color: green;
}

.bo-etapa-despachado.activo,
.bo-etapa-entregado.activo {
  color: gray;
}

.bo-etapa-vendido img,
.bo-etapa-despachado img,
.bo-etapa-entregado img {
  height: 50px;
  margin-bottom: 10px;
}

/* -------------------ropa--------------- */

.fi-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fi-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.fi-column {
  width: 30%;
  padding: 10px;
}

.fi-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.fi-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fi-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.fi-description p {
  margin: 0;
}

.fi-image:hover .fi-description {
  transform: translateY(-50%);
  background-color:rgb(181, 181, 252)
}

.fii-container {
  text-align: center;
}
.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}


  label.error {
    color: red;
  }

  .was-validated input:invalid {
    border-color: red;
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
  }
  
  .error {
    display: block;
  }

  .is-invalid {
    border-color: red !important;
  }