*{
    font-family: 'PT Sans Caption', sans-serif;
}
.container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding-top: 5%;
    padding-bottom: 5%;

}

.container .card{
    box-sizing: border-box;
    border-radius: 13%;
    box-shadow: 10px 10px 8px #5c585833;
}

.card-header .logo img{
    height: 40px;
    width: 40px;
    display: flex;
} 
/* footer */
footer{
    background: #fffdfda6;
    height: auto;
    width: 100%;
    padding-top: 14px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    max-height: 15px;
    margin: 10px;
    line-height: 28px; /*separacion entre lineas de texto*/
    /* font-size: 14px; */
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: rgb(146, 129, 129);
}
    
.socials a img{
    width: 50px;
    
}
.footer-bottom{
    width: 100%;
    padding: 6px 0;
    text-align: center;
}
/* footer end */

.item{
    
    padding-top: 2%;
    padding-bottom: 2%;
    /* position: relative; */
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .5);
    
}

.container-items{
   
    padding-top: 2%;
    padding-bottom: 2%;
    
    
}
.producto-container {
    display: flex;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1%;
    margin-bottom: 3%;
    margin-top: 5%;
    border-radius: 10px;
    margin-right: 15%;
    margin-left: 15%;
}

.producto-container .imagen-producto {
    flex: 0 0 200px;
    margin-right: 20px;
}

.producto-container .imagen-producto img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.producto-container .datos-producto {
    flex: 1;
}

.producto-container .datos-producto h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.producto-container .datos-producto p {
    margin-bottom: 10px;
}

.producto-container .datos-producto .price {
    font-weight: bold;
}

.producto-container .datos-producto .agregar-carrito {
    margin-top: 10px;
}

#carrito {
    margin-top: 20px;
}

