{% load static %}

<footer>
    <div class="footer-content" id="footer-content">
        <h3>My Glock</h3>
        <p>Toda persona tiene su calibre.</p>
        <p> contacto:  (+56) 44220 1098</p>
      
        <ul class="socials">
            <li><a href=""><img src="{% static 'img/logo-fb.png' %}" class="fa fa-facebook"></a></li>
            <li><a href=""><img src="{% static 'img/logo-ig.png' %}" class="fa fa-instagram"></a></li>
            <li><a href=""><img src="{% static 'img/logo-wsp.png' %}" class="fa fa-wsp"></a></li>
            
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2023 Glock.</p>

    </div>
</footer>