{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nosotros</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/carrito.css">
  <link rel="stylesheet" href="{% static 'css/nosotros.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="icon" href="img/logo-glock.png">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>

    {% comment %} <script src="js/nav.js"></script> {% endcomment %}
    <div class="card text-center" >
        
      <div class="card-header" id="targett-div">{% include 'nav_bar.html' %}</div> 
            
    </div> 



  <div class="principal">
    <h1>Nosotros</h1>
    <h6>Glock es una reconocida compañía austriaca que se dedica a la fabricación y distribución de armas de fuego y municiones de primera calidad en todo el mundo. Desde su fundación en 1963, Glock se ha destacado por su compromiso con la seguridad, ofreciendo productos diseñados con los más altos estándares de calidad y confiabilidad. Su presencia global y reputación se basan en la entrega de productos de alto rendimiento a precios competitivos. Además, Glock se enorgullece de brindar un servicio excepcional al cliente, brindando asesoramiento experto y soporte personalizado. La empresa se destaca por su constante innovación y búsqueda de la excelencia, buscando satisfacer las necesidades y demandas cambiantes de sus clientes con soluciones avanzadas y tecnología de vanguardia.</h6>
    

  </div>
  <div class="container">
    <div class="card" style="width: 17rem;">
      <img src="{%static 'img/messiconpistola.jpg' %}" class="card-img-top" alt="....">
      <div class="card-body">
        <h4 class="card-title">Lionel Andrés Messi Cuccittini</h4>
        <h6>Un vio</h6>
        <h6>Messi.warxone@xulopapi.com</h6>
      </div>
    </div>  

    <div class="card" style="width: 17rem;">
      <img src="{%static 'img/CJ.png' %}" class="card-img-top" alt="....">
      <div class="card-body">
        <h4 class="card-title">CJ</h4>
        <h6>Encargado de bodega</h6>
        <h6>CJ@groveStreet.com</h6>
      </div>
    </div> 
    
    <div class="card" style="width: 17rem; ">
      <img src="{%static 'img/benji.png' %}" class="card-img-top" alt="....">
      <div class="card-body">
        <h4 class="card-title">Bnj </h4>
        <h6>Gerente Peligroso</h6>
        <h6>bnj_LohCruzados@Ucatolica.uc</h6>
      </div>
    </div>  
  </div>

   
 <!-- y empieza el footer -->
 <div class="target-div" id="target-div">{% include 'footer.html' %}
</div>
{% comment %} <script src="js/footer.js"></script> {% endcomment %}
  
  <!-- aqui termina el footer -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% comment %} <script src="js/carrito.js"></script> {% endcomment %}
</body>
</html>