{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet"  href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block content%}
    <div class="container-fluid">
      <!-- cabecera con menu superior -->
      <div id="navbarContainer"></div>
      <h1>
        Administración de Tienda


      </h1>

      <!-- cuerpo de la pagina -->
      
          <!-- titulo -->
          

          <!-- carrusel -->
          

          <!-- productos -->

          <section class="links-admin">
            <h2>
                <a href="{% url 'usuarios'%}">Mantenedor de Usuarios</a><br>
                <a href="{% url 'productos'%}">Mantenedor de Productos</a><br>
                <a href="{% url 'ventas'%}">Historial de Ventas</a><br>
                <a href="{% url 'bodega'%}">Mantenedor de Bodega</a>



            </h2>
           
        </section>
        
      </div>

      {% endblock %}