{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet"  href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block content%}
    <!-- titulo -->
    <h1>Mantenedor de Bodega</h1>
    <br>

    <!-- formulario de producto -->
    <form action="" id="formulariobodega">
        <div class="container-fluid">
            <!-- todos los datos del producto-->
            <div class="row">
                <!-- datos del prod -->
                <div class="col-sm-12 col-md-6" id="datos">
                  <label for="catproductos">Categoría</label><br>
                  <select name="catproductos" id="catproductos">
                    <option value="pistola">Pistola</option>
                    <option value="municion">Munición</option>
                    <option value="rifle">Rifle</option>
                  </select>
                  <br>

                  <label for="catproductos">Nombre</label><br>
                  <select name="catnombre" id="catnombre">
                    <option value="pistola">Glock</option>
                    <option value="municion">CZ 75 SP-01 Shadow</option>
                   
                  </select>
          
                  <!-- <div class="mb-3"><br>
                    <label for="nomprod" class="form-label">Nombre</label>
                    <input type="text" placeholder="" class="form-control" id="nomprod" aria-describedby="emailHelp">
                    
                    <span id="nomprod-error" class="error-message"></span>
                    <div id="emailHelp" class="form-text"></div>
                  </div> -->
          
                  <div class="mb-3">
                    <label for="cantipro" class="form-label">Cantidad</label>
                    <input type="text" class="form-control" id="cantipro" name="cantipro">
                    <!-- Agregamos el span para el mensaje de error -->
                    <span id="cantipro-error" class="error-message"></span>
                  </div>
                </div>

                <!-- foto producto -->
                <div class="col-sm-12 col-md-6" id="foto-prod">
                      <br>

                    <form role="form">
                      
                      <img class="foto-prod" src="img/imgnotfound.png" alt="" width="350">
                      
                      
                    </form>

                    
                </div>
            </div>
            <!-- botones -->
            <div class="row" id="botones">
                <div class="col text-center">
                  
                  <button type="reset" class="btn btn-primary">Nuevo</button>
                  <button type="add" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </div>
    </form>
    
    <!-- tabla -->

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">ID</th>
                <th scope="col">Categoría</th>
                <th scope="col">Nombre</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
                
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>></td>
                <td>58</td>
                <td>Pistola</td>
                <td>Glock</td>
                <td>En Bodega</td>
                <td><button style="border: none; background-color: transparent; color: blue; text-decoration: underline; cursor: pointer;">Eliminar</button></td>
                
                
            </tr>
            <tr>
                <td></td>
                <td>1001</td>
                <td>Rifle</td>
                <td>Taurus CT9 G2</td>
                <td>Vendido</td>
                <td><button style="border: none; background-color: transparent; color: blue; text-decoration: underline; cursor: pointer;">Eliminar</button></td>
                
                
            </tr>
            <tr>
                <td></td>
                <td>1002</td>
                <td>Pistola</td>
                <td>CZ 75 SP-01 Shadow</td>
                <td>Entregado</td>
                <td><button style="border: none; background-color: transparent; color: blue; text-decoration: underline; cursor: pointer;">Eliminar</button></td>
                
                
            </tr>
            <tr>
                <td></td>
                <td>1103</td>
                <td>Munición</td>
                <td>Munición Winchester .308 Winchester</td>
                <td>En Bodega</td>
                <td><button style="border: none; background-color: transparent; color: blue; text-decoration: underline; cursor: pointer;">Eliminar</button></td>
                
               
            </tr>
        </tbody>

    </table>








    {% endblock %}