{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet"  href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block content%}
<body>
  <!-- Menu superior -->
  <div id="navbarContainer"></div>
  <main class="center-screen">
    <div class="container">
      <section class="text-center">
        <h1>Usuario</h1>
        <br>
        <form class="row g-3 needs-validation" action="" id="formularioin">
          <div class="container-fluid">
            <div class="row">
              <!-- Campos del registro de usuario -->
              <div class="col">
                <div class="mb-3 fw-bold">
                  <label for="rut" class="form-label">Correo</label>
                  <input type="email" class="form-control" id="txtcorreo" name="txtcorreo" placeholder="prueba@algo.com" required>
                  <div class="invalid-feedback">Ingresar correo</div>
                </div>
                <div class="mb-3 fw-bold">
                  <label for="rut" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="txtcontraseña" name="txtcontraseña" placeholder="***********" required>
                  <div class="invalid-feedback">Ingresar contraseña</div>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
              </div>
              <a href="#">Olvidaste tu contraseña?</a>
              <!-- foto de perfil -->
              <div class="col">

              </div>
            </div>
          </div>
        </form>
      </section>
    </div>
  </main>

    {% endblock %}
