{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet"  href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block content%}
  <body>
    <!-- cabecera con menu superior -->
    <div id="navbarContainer"></div>
    <!-- titulo -->
    <h1>Mantenedor de Usuarios</h1>
    <br>

    <!-- formulario de cliente -->
    <form action="" id="miformulario">
      <div class="container-fluid">
        <!-- todos los datos del cliente -->
        <div class="row">
          <!-- datos del cliente -->
          <div class="col-sm-12 col-md-6" id="datos">
            <div class="mb-3">
              <label for="txtid" class="form-label">ID</label>
              <input type="text" placeholder="" class="form-control" id="txtid" name="txtid"  >
              <div id="emailHelp" class="form-text"></div>
            </div>
    
            <div class="mb-3">
              <label for="rut" class="form-label">RUT</label>
              <input type="text" placeholder="Ejemplo: 12345678-9" class="form-control" id="txtrut" name="txtrut"  >
              <div id="emailHelp" class="form-text"></div>
            </div>
    
            <div class="mb-3">
              <label for="nombres" class="form-label">Nombres</label>
              <input type="text" placeholder="Escriba sus Nombres" class="form-control" id="txtnombres" name="txtnombres"  >
              <div id="emailHelp" class="form-text"></div>
            </div>
    
            <div class="mb-3">
              <label for="Apellidos" class="form-label">Apellidos</label>
              <input type="text" placeholder="Escriba sus Apellidos" class="form-control" id="txtapellidos" name="txtapellidos"  >
              <div id="emailHelp" class="form-text"></div>
            </div>
    
            <div class="mb-3">
              <label for="correo" class="form-label">Correo</label>
              <input type="text" placeholder="ejemplo@gmail.com" class="form-control" id="txtcorreo" name="txtcorreo"  >
              <div id="emailHelp" class="form-text"></div>
            </div>
    
            <div class="mb-3">
              <label for="direccion" class="form-label">Dirección</label>
              <textarea rows="4" type="text" class="form-control" id="txtdireccion" name="txtdireccion" ></textarea>
            </div>
    
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" name="suscripcion">
              <label class="form-check-label" for="exampleCheck1">Deseo suscribirme con un aporte de $3000 mensuales y obtener un 5% de descuento en mis compras</label>
            </div>
    
            <div class="mb-3">
              <label for="contraseña" class="form-label">Contraseña</label>
              <input type="text" class="form-control" id="txtcontraseña" name="txtcontraseña" >
              <button type="button" class="btn btn-primary">Generar contraseña</button>
            </div>
          </div>

                <!-- foto cliente -->
                <div class="col-sm-12 col-md-6" id="foto">
                    FOTO DEL CLIENTE  <br>

                    <form role="form">
                      
                      <img class="foto-cliente" src="img/usuario.webp" alt="" width="550">
                      <div class="form-group">
                        <label for="ejemplo_archivo_1">Adjuntar un archivo</label>
                        <input type="file" id="ejemplo_archivo_1">
                        
                      </div>
                      
                    </form>

                    
                </div>
            </div>
            <!-- botones -->
            <div class="row" id="botones">
                <div class="col text-center">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                  <button type="reset" class="btn btn-primary">Nuevo</button>
                  <button type="reset" class="btn btn-primary">Limpiar</button>
                </div>
            </div>
        </div>
    </form>
    
    <!-- tabla -->

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">RUT</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">correo</th>
                <th scope="col">Dirección</th>
                <th scope="col">Suscripción</th>
                <th scope="col">Imágen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>132</td>
                <td>20.123.543-5</td>
                <td>Claudia</td>
                <td>Parra</td>
                <td>cla.parra@fake.com</td>
                <td>Mi casita #80085</td>
                <td>No</td>
                <td><img class="foto-cliente" src="img/imgnotfound.png" alt="" width="50"></td>
            </tr>
            <tr>
                <td>242</td>
                <td>12.345.678-9</td>
                <td>Ronny</td>
                <td>Dance</td>
                <td>nosemepar@fake.com</td>
                <td>Mi casita #80085</td>
                <td>Si</td>
                <td><img class="foto-cliente" src="img/imgnotfound.png" alt="" width="50"></td>
            </tr>
            <tr>
                <td>367</td>
                <td>23.456.789-0</td>
                <td>Michael</td>
                <td>Jackson</td>
                <td>notpedo@fake.com</td>
                <td>Mi casita #80085</td>
                <td>No</td>
                <td><img class="foto-cliente" src="img/imgnotfound.png" alt="" width="50"></td>
            </tr>
            <tr>
                <td>497</td>
                <td>24.567.890-1</td>
                <td>Martín</td>
                <td>Cárcamo</td>
                <td>carc@fake.com</td>
                <td>Mi casita #80085</td>
                <td>Si</td>
                <td><img class="foto-cliente" src="img/imgnotfound.png" alt="" width="50"></td>
            </tr>
        </tbody>

    </table>








    {% endblock %}
