{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet"  href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block content%}
<body>
    <!-- cabecera con menu superior -->
    <div id="navbarContainer"></div>
    <h2>Historial de Ventas</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nro boleta</th>
                <th scope="col">Fecha</th>
                <th scope="col">Nombre Cliente</th>
                <th scope="col">Subscrito</th>
                <th scope="col">Monto total</th>
                <th scope="col">Estado actual</th>
                <th scope="col">Detalle</th>
                <th scope="col">Cambiar estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>132</td>
                <td>15/04/2023</td>
                <td>Claudia Parra</td>
                <td>No</td>
                <td>$260.000</td>
                <td>Entregado</td>
                <td><a class="nav-link active" href="..." style="color: blue">Ver detalle</a></td>
                <td>
                    <button id="cambiarEstado1">Anulado</button>
                    <button id="cambiarEstado2">Vendido</button>
                    <button id="cambiarEstado3">Despachado</button>
                    <button id="cambiarEstado4">Entregado</button>
                </td>
            </tr>
            <tr>
                <td>242</td>
                <td>15/04/2023</td>
                <td>Ronny Dance</td>
                <td>Si</td>
                <td>$200.000</td>
                <td>Despachado</td>
                <td><a class="nav-link active" href="..." style="color: blue">Ver detalle</a></td>
                <td>
                    <button id="cambiarEstado1">Anulado</button>
                    <button id="cambiarEstado2">Vendido</button>
                    <button id="cambiarEstado3">Despachado</button>
                    <button id="cambiarEstado4">Entregado</button>
                </td>
            </tr>
            <tr>
                <td>367</td>
                <td>15/04/2023</td>
                <td>Michael Jackson</td>
                <td>No</td>
                <td>$600.000</td>
                <td>Vendido</td>
                <td><a class="nav-link active" href="..." style="color: blue">Ver detalle</a></td>
                <td>
                    <button id="cambiarEstado1">Anulado</button>
                    <button id="cambiarEstado2">Vendido</button>
                    <button id="cambiarEstado3">Despachado</button>
                    <button id="cambiarEstado4">Entregado</button>
                </td>
            </tr>
            <tr>
                <td>497</td>
                <td>15/04/2023</td>
                <td>Martín Cárcamo</td>
                <td>Si</td>
                <td>$260.000</td>
                <td>Entregado</td>
                <td><a class="nav-link active" href="..." style="color: blue">Ver detalle</a></td>
                <td>
                    <button id="cambiarEstado1">Anulado</button>
                    <button id="cambiarEstado2">Vendido</button>
                    <button id="cambiarEstado3">Despachado</button>
                    <button id="cambiarEstado4">Entregado</button>
                </td>
            </tr>
        </tbody>

    {% endblock %}